* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #fff8f3;
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-position: 23px 38px, bottom right;
  background-repeat: no-repeat;
}
.orrange-color {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  color: #ffffff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.display-flex {
  display: flex;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.menu {
  list-style: none;
  gap: 51px;
  align-items: center;
}
.menu li a {
  text-decoration: none;
  color: #474747;
}
.nav-bar {
  margin: 0px 230px;
  text-align: center;
  justify-content: space-between;
  padding-top: 51px;
  align-items: center;
}

.banner {
  margin: 47px 36px 0px 230px;
  justify-content: space-between;
  align-items: center;
  gap: 163px;
  padding-top: 50px;
}
.banner-image {
  width: 584px;
  height: 676px;
}

.banner-text {
  width: 585px;
}
.banner-text h2 {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
}
.banner-text h1 {
  font-size: 85px;
  color: #181818;
  font-weight: bold;
  padding-top: 5px;
}

.banner-text p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #757575;
  padding-bottom: 30px;
  padding-top: 20px;
}
.btn-1 {
  padding: 19px 18px;
  margin-right: 30px;
}
.btn-2 {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}
